---
layout: default
---

<div class="home">
  <div class="header">
    <h1>Practicing Ruby</h1>
    <h2>Delightful lessons for the dedicated programmer</h2>
    <img src="ruby-divider.png" style="margin-bottom: 15px; padding-bottom: 20px; padding-top: 20px"/>
    <big>Welcome to Practicing Ruby, a free and open source archive of lessons that take a deep-dive into software development. Our articles will help you solve problems, explore ideas, and learn useful techniques to apply in your daily work.</big>
  </div>

  <div class="categories">
    <div id="most-popular">
      {% assign posts = site.posts | where:"categories","most-popular" %}
      <h3>
        Most popular lessons
        {% if posts.size > 5 %}
          <a href="/categories/most-popular" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="editors-picks">
      {% assign posts = site.posts | where:"categories","editors-picks" %}
      <h3>
        Editor's picks
        {% if posts.size > 5 %}
          <a href="/categories/editors-picks" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="working-with-data">
      {% assign posts = site.posts | where:"categories","working-with-data" %}
      <h3>
        Working with data
        {% if posts.size > 5 %}
          <a href="/categories/working-with-data" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="building">
      {% assign posts = site.posts | where:"categories","building" %}
      <h3>
        Building on your knowledge
        {% if posts.size > 5 %}
          <a href="/categories/building" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="testing">
      {% assign posts = site.posts | where:"categories","testing" %}
      <h3>
        All things testing
        {% if posts.size > 5 %}
          <a href="/categories/testing" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="spotlights">
      {% assign posts = site.posts | where:"categories","spotlights" %}
      <h3>
        Spotlights
        {% if posts.size > 5 %}
          <a href="/categories/spotlights" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="software-design">
      {% assign posts = site.posts | where:"categories","software-design" %}
      <h3>
        Software design
        {% if posts.size > 5 %}
          <a href="/categories/software-design" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="domain-modeling">
      {% assign posts = site.posts | where:"categories","domain-modeling" %}
      <h3>
        Domain modeling
        {% if posts.size > 5 %}
          <a href="/categories/domain-modeling" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="ruby-quirks">
      {% assign posts = site.posts | where:"categories","ruby-quirks" %}
      <h3>
        Ruby quirks
        {% if posts.size > 5 %}
          <a href="/categories/ruby-quirks" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="games">
      {% assign posts = site.posts | where:"categories","games" %}
      <h3>
        Games
        {% if posts.size > 5 %}
          <a href="/categories/games" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="open-source">
      {% assign posts = site.posts | where:"categories","open-source" %}
      <h3>
        Open source
        {% if posts.size > 5 %}
          <a href="/categories/open-source" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="problem-solving">
      {% assign posts = site.posts | where:"categories","problem-solving" %}
      <h3>
        Problem solving
        {% if posts.size > 5 %}
          <a href="/categories/problem-solving" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="communication">
      {% assign posts = site.posts | where:"categories","communication" %}
      <h3>
        Communication
        {% if posts.size > 5 %}
          <a href="/categories/communication" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="maintenance">
      {% assign posts = site.posts | where:"categories","maintenance" %}
      <h3>
        Maintaining code and quality
        {% if posts.size > 5 %}
          <a href="/categories/maintenance" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="cs-concepts">
      {% assign posts = site.posts | where:"categories","cs-concepts" %}
      <h3>
        Exploring CS concepts with Ruby
        {% if posts.size > 5 %}
          <a href="/categories/cs-concepts" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>

    <div id="everything-else">
      {% assign posts = site.posts | where:"categories","everything-else" %}
      <h3>
        Everything else
        {% if posts.size > 5 %}
          <a href="/categories/everything-else" class="view-all">View All</a>
        {% endif %}
      </h3>
      <ul>
        {% for post in posts limit:5 %}
          {% include category-item.html post=post %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
