---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • {{ page.author }}{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="related-posts">
    <h3>Want to keep reading? Here are some recommendations...</h3>
    <ul>
      {% for title in page.related %}
        {% assign post = site.posts | where:"title",title %}
        <li>
          <a href="{{ post.url | prepend: site.github.url }}">
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
      <li>
        <a href="/">Return to the homepage to see all articles and categories</a>
      </li>
    </ul>
  </div>
</article>
